<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/icons/bootstrap-icons.min.css}" rel="stylesheet">
    <title>Analyse</title>
</head>
<body>
<main>
    <div class="container mt-0">
        <h2>Analyse database contents</h2>
        <p>
            Return to <a th:href="@{/}"><i class="bi bi-pencil-square"></i> Startpage</a> to upload data
        </p>

        <div class="container mt-5">
            <h2 class="mb-4">Resultate</h2>

            <div id="mainChart" style="width: 600px;height:400px;"></div>

        </div>
    </div>
</main>
<script th:src="@{/js/echarts/echarts.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/axios/axios.min.js}"></script>
<script type="text/javascript">
    axios.get("/api/categories")
        .then(response => {
            const data = response.data;

            const products = data.map(item => item.name);
            const amounts = data.map(item => item.id);

            const chart = echarts.init(document.getElementById('mainChart'));

            const option = {
                title: {
                    text: 'Sales Data'
                },
                tooltip: {},
                xAxis: {
                    type: 'category',
                    data: products
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: 'Amount',
                    type: 'bar',
                    data: amounts
                }]
            };

            chart.setOption(option);
        })
        .catch(error => {
            console.error("Error loading data:", error);
        });
</script>
</body>
</html>
