<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <title>Datei hochladen</title>
</head>
<body>
<div class="container mt-0">
    <h2>Upload ODS-Bilanz</h2>
    <div th:if="${message != null}"  class="p-4 alert alert-danger" role="alert">
        Error: <p th:text="${message}"></p>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div id="form-group">
            <label for="file-upload">Dateiauswahl</label>
            <input type="file" class="classform-control-file" name="file" id="file-upload">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
<script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
